<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <title>{{ site.title }} - {{ page.title }}</title>
        <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    </head>
    <body>
        <div id="content">
            <h1>{{ site.title }}</h1>

            <div>
                {% for item in site.data.menu %}
                <a
                    class="
                        {% if forloop.last != true %}s{% endif %}
                        {% if page.title == item.name %}selected{% endif %}"
                    href="{{ item.url }}">
                    {{ item.name }}</a>&nbsp
                {% endfor %}                        
            </div>

            <hr/>

            {{ content }}
        </div>
    </body>
</html>
